 *{
    margin: 0%;
    padding: 0%;
     /*background: linear-gradient(90deg, #e3bafc 0%, #9095dc 100%);*/  

}

body{
    background: linear-gradient(90deg, #e3bafc 0%, #9095dc 100%);    

} 


h1{
  font-family: cinzel,sans-serif; 
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
}
nav{
  font-family: cinzel,sans-serif; 
}

.footer-style{

  height: 150px;
  background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.texto-footer{
  padding-top: 50px;
  margin: 20px;
}

.styleCards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  text-align: center;
  flex-wrap: nowrap;
  padding: 15px;
}
#texto-creado{
  font-family: 'Chakra Petch', sans-serif;; 
  font-weight: bold;
  font-size: 16px;
}

.texto-prestamos{
  padding: 20px;
  margin: 10px 30px;
  border: 0.01px solid blue;
}

#carta-color-principal{
  background-color: #ac68e3;
}

#contenedor-cards-ecommerce{
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*estilo de cada carta individual*/
.card{
  margin: 10px;
}
.card-title{
  text-align: left;
}
.card-body{
  text-align: right;
}
.btn{
  background-color: #a1f7cc;
}